.card {
  width: 10rem;
  height: 13rem;
  margin: 1rem;
  background-color: #EEE;
}

.card-title {
  /* margin-top: 0.7rem;
  padding-bottom: 0.5rem; */
  margin: auto;
  font-size: 1rem;
}

.card-mail {
  margin: auto;
  width: 15%;
  cursor: pointer;
}

.image-cropper {
  width: 100px;
  height: 100px;
  position: relative;
  overflow: hidden;
  margin: auto;
  border-radius: 50%;
}

.image-cropper img {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
}

/* @media only screen and (max-width: 600px) {
  .image-cropper {
    width: 50px;
    height: 50px;
    position: relative;
    overflow: hidden;
    margin: auto;
    border-radius: 50%;
  }

  .image-cropper img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
  }
} */